body {
  background-color: rgb(151, 210, 235);
}

.navbar {
  display: flex;
}

.btn {
  margin-left: 8px;
  margin-right: 8px;
}

.pageLink {
  margin-left: auto;
  margin-right: auto;
}

.image {
  height: auto;
  width: 100%;
}

.cardContainer {
  display: flex;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 5px;
  border-color: aliceblue;
}

.bioContainer {
  display: block;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 10vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  background-color: lightblue;
  border-radius: 10px;
  border-width: 5px;
  border-color: aliceblue;
  border-style: solid;
}

.bioText {
  margin: 5px;
}

.contact {
  margin-left: 20px;
}
